@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  h6 {
    font-size: 2rem;
  }

  .navbar {
    flex-direction: column-reverse;
    align-items: start;
    height: fit-content;
    padding: 5px 15px;
    height: fit-content;
    max-width: 100%;
    overflow: hidden;
  }
  .navDonate {
    display: none;
  }
  .navDown {      
    display: none;
  }
  .logo {
    width: 100% !important;
    justify-content: space-between;
  }
  .logo i {
    font-size: 2rem;
    padding-right: 2rem;
  }
  .logoImg {
    width: 275px !important;
  }
  .menuBarIcon {
    visibility: initial ;
  }
  .navItem {
    width: 100%;
    padding: 0;
    /* border: 3px solid red; */
  }
  .carouselSection {
    width: 100%;
    height: 100vh;
  }
  .carouselItem {
    height: 100%;
    width: 100%;
  }
  .carouselItem img {
    width: 120% !important;
  }
  .indicator {
    display: none;
  }
  .carouselContent h2 {
    font-size: 2rem;
  }
  /* Owl Carousel  */
  .owlCarouselItem {
    padding: 3rem 10px;
    flex-direction: column;
   
    
  }
  .owlCarouselImg{
    width: 50% !important;
  }
  .carouselContent h2 {
    font-weight: 500;
  }
  /* Focus */
  .focus-container {
    padding: 30px;
  }
  .focus-area {
    width: calc(50% - 2rem);
  }
  .focus-content {
    display: none;
  }
  /* Reach */
  .reachMianContainer {
    flex-direction: column;
  }
  .reachMianContainer > div {
    width: 100%;
  }
  .reachContent img {
    display: none;
  }
  .reachContent {
    width: 100%;
    justify-content: center;
  }
  .reachRightContent {
    gap: 10px;
  }
  .reachRightContent p {
    font-size: 1.3rem;
  }
  /* Year */
  .year h1 {
    font-size: 4rem;
  }
  .yearSection h3 {
    padding-inline: 1rem;
  }
  .year h5 {
    font-size: 1.2rem;
  }
  /* Graph */
  .graph{
    padding: 10px;
  }
  .thumb-icon {
    width: 101px !important;
  }
  .graphImg h5 {
    font-size: 1.3rem !important;
  }

  .graph-border {
    display: none;
  }
  .progress-img {
   
  
    margin-top: 0;
    align-self: self-start;
  }

  .progress-img::before {
    height: 0;
    width: 0;
  }
  .helpSection h4{
    font-size: 1.4rem;
    position: relative;
    top: -121px;
    left: 82px;
    width: 60%
  }
  /* Stories Section  */
  .testomonials {
    height: auto;
    flex-direction: column;
}

.storiesImeges,
.storiesContent {
    width: 100%;
    height: auto;
   
    padding: 1rem;
}

.storiesImeges {
    text-align: center;
}
.storiesContent::before{
  display: none;
}
.test-svg,
.stories-img {
    position: static;
  
    width: 100px ;
  
  }
  .test-svg{

display: none !important;

}
.stories-img{
  width: 250px !important;
  margin-left: 45%;
}

.storiesContent {
    padding: 0 1rem;
}

/* Partner  */
.partnerSection{
  padding: 0;
}
.partnerContainer{
  margin-top: 1rem;
}
/* Conatact Section */
.connectSection{
  /* height: auto; */
  padding: 1rem;
}
.connectMain{
  flex-direction: column;
}
.connectMain>div{
  width: 100%;
}
/* FOOTER CONTENT */
footer{
  padding: 10px;
}
.footerTerm{
  gap: 5px;
}
.footerContentMain{
  width: 100%;
}
.footerContentMain>div{
  width: calc(50% - 3rem);
}
}

/*1024p Media Screen */
@media screen and (max-width: 1024px){
  .navbar{
    padding: 0px;
  }
  .logo{
    width: 27%;
    padding: 10px;
  }
  .logoImg {
    width: 190px !important;
  }
  
  .carouselItem{
    height: 100vh;
  }
  .overlay{
    background-color: rgba(0, 0, 0, 0.107);
  }
  .carouselItem>img{
    height: 100%;
    object-fit: cover;
  }
  .navItem{
    width: 70%;
  }
  .navDown>div{
    gap: 5px;
  }

}

@media screen and (max-width: 480px) {
 h6{
  font-size: 25px;
 }
 h1{
  font-size: 1rem;
 }
 h2{
  font-size: 1.4rem;
 }
 .logo{}
  .fa-magnifying-glass {
    color: black;
  }
  /* mobile nav */
  
  .mobileLogo img{
    width: 200px;
  }
  .menuItem > p {
    padding: 0;
  }
  .owlCarouselContent{
    width: 100% !important;
    align-items: center;
    text-align: center;
  }
  .thumb-icon {
    width: 85px !important;
    padding:5px !important;
  }
  .graphImg{gap: 5px;}
  .carouselItem{
   
  }
  .graphImg>div h5{
    font-size: 13px !important;
  }
  .arrow{
height: 7vh;
  }
  .focus-area{
    width: 100%;
  }
  .focus-area:hover .focus-content{
    display: none;
  }
  .connectSection{
    padding: 2px;
  }
  .connect-form {
    padding-inline: 5px;
  }
  .connect-details{
    padding: 5px;
  }
  .footerContentMain>div{
    width: 100%;
    padding-top:10px ;
  }
  .footerHead i{
    display: block;
  }
  .footerContent ul{
    display: none;
  }
  .footerContent ul.active{
    display: block;
    transition: .3s ease-in;
  }
  .footerLogo img {
    width: 60vw;
  }
  .footerLogo>div{
    width: 100%;
    font-size: 6vw;
    
  }
  .footerTerm{
    flex-direction: column;
    align-items: start;
  }
  .footerTerm>a{
    border-right: 0 !important;
    width: 100%;
    padding: 2px !important;
    display: block;
    border-bottom: 1px solid gray;
  }
  .footerTerm>:last-child(){
    padding: 10px;
  }
  .textomonialSection>h3{
    padding: 0;
  }
  .helpSection  h4{
    font-size: 1rem;
  }
  .owlCarouselImg{
    width: 100% !important;
  }

}


