*{
    margin: 0;padding: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
:root{
    --primartColor:white;
    --secondaryColor:rgb(10, 0, 0):
}
body{
    width: 100%;
    
    
    
}
h2{
    font-size: 2.9rem;
    font-weight: 700;
}
h3{
    font-size: 2.5rem;
    font-weight: 700;
}
h6{
    font-size: 2.2rem;
}

/* NavBar Start */

.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 111px;
    justify-content: space-around;
    padding:0 5rem 5rem 5rem;
    position:fixed;
    top: 0;
    z-index: 99;
   
   
    
}

#navbar.navSticky{
    background-color: #e4701d;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    transition: .3s  ease;
}
 

.logo{
    width: 40%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.logoImg{
    width:60%;
}
.menuBarIcon{
    visibility: hidden ;
}
#navbar.navSticky .logoImg{
    filter: brightness(0) invert(1)
}



.navItem{
    display: flex;
    width: 60%;
    padding: .5rem;
    gap: 20px;
    flex-direction: column;
    font-weight: 400;
    line-height: 1.8;
}

.navUp{
    display: flex;
    gap: 2rem;
    justify-content: end;
    align-content: space-between;
    width: 100%;
    align-items: center;
}

.search{
    border-bottom: 1px solid;
    height: 100%;
    color: var(--primartColor);
    

}

.searchInput{
    /* height: 100%; */
    width: 0px;;
    padding:0 .4rem;
    outline: none;
    border: none;
       font-size: 18px;
    color: var(--primartColor);
    background-color: transparent;
    transition: .3s  ease-in ;

}
input::placeholder{
    color: var(--primartColor);
}
.search:hover .searchInput{
    width: 300px;
}

.navUp>:nth-child(2){
    background-color: #fba704;
    padding: 0px 1.2rem;
    height: 40px;
    
}
.navUp p{
    /* font-weight: 500; */
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
 
}
.navDown{
    display: flex;
    gap: 10px;
    transform: translateY(10px);
    justify-content: end;
    padding-bottom: 10px;
    transition: .4s ease;
}
#navbar.navSticky .navDown{
    transform: translate(0);
}
.navDonate a{
    text-decoration: none;
    color: white;
    font-size: 21px;
}
.navDown>div{
    display: flex;
    gap: .5rem;
    color: var(--primartColor);
    align-items: center;
}

.bannerHalf{
    position: absolute;
    scroll-behavior: auto;
    top: 0;
    right:0;
    height: 100px;
    width: 400px;
    z-index: -1;
}

  /* DropDown Start */
.dropdown{
    position:relative;
     padding: .1rem .7rem;
     animation: all .2s ease-in;
    
}

.dropdown li{
    /* background-color: white; */
    color: var(--secondaryColor);
    list-style: none;
    padding-top: .2rem ;
    width: 150%;
    background-color: white;
    border-bottom: 1px solid black;
    padding: .2rem 1rem;
    /* border: 2px solid red; */
    animation: dropItem .3s ease-out;
}
@keyframes dropItem {
    0%{
        margin-bottom: .4rem;
    }
    100%{
        margin-bottom: 0;
    }
}

.dropdown a{
    
    color: black;
    text-decoration: none;

}

.dropdown:hover{
    background-color: #fba704;
    transition: .2s ease-in;
}
.dropdownContent{
    display: none;
    position: absolute;
    top: 10%;
    padding-top: 2.5rem;
    left: -2rem;
    /* transition: .5s ease; */
    animation: dropdown .2s ease-in;
    
}
@keyframes dropdown{
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
.dropdown:hover .dropdownContent{
    display: block;
    transition: .3s ease-in;
}

.dropdown:hover .downIcon{
     transform: rotate(180deg);
     transition: .2s ease;

     
    
 }

/* NavBar End */


/* Carousel  First */

.carouselItem{
    position: relative;
    background-color: rgba(0, 0, 0, 0.402);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.346);
    
}
.carouselContent{
    position: absolute;
    /* top: 10% ; */
    width: 65%;
    top: 55%;
    left: 5%;
    transform: translateY(-50% );
    z-index: 2;
}


.carouselContent h2{
    color: var(--primartColor);
    font-size: 2.9rem;
    font-weight: 600;
    
}

.carouselContent button{
    padding: .5rem 2rem ;
    font-weight:600;
    font-size: 1.3rem;
    background-color: #fba704;
    border: 0;
    width: fit-content;
    
}

/* Carousel End First */

/* Owl Carousel */
.owlCarouselItem{
    width: 100vw;
  
    display: flex;
    padding:2rem  7rem ;
    gap: 10px;
    /* border: 2px solid red; */
    
}
.owlCarouselItem .owlCarouselImg{
    /* border: 2px solid green; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgHoverCircle{
    padding: 1.2rem;
    border-radius: 50%;
    background-image: conic-gradient( transparent 0deg,transparent 180deg,#e4701d 180deg , #e4701d 360deg );
    
}
.imgHoverCircle:hover{
    transition: .2s ease-in-out;
    background-color: #e4701d;
}
.owlCarouselImg img{
    /* border: 1.2rem solid #e4701d; */
    border-radius: 50%;
}
.owlCarouselItem .owlCarouselContent{
    width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
    height: 100%;
    /* border: 2px solid black; */

}
.owlCarouselContent h2{
    font-weight: 700;
}
.owlCarouselContent p{
    font-weight: 500;
    font-size: 1.3rem;
}
.owlCarouselContent button{
    width: fit-content;
    padding: .5rem 1.6rem ;
    border: 0;
    background-color: #fba704;   
}
.owlCarouselContent button:hover{
    background-color: #e4701d;
    transition: .1s ease-in;
}



/* Focus Conatainer Start */
.focus-container{
    display: flex;
    width: 100%;
    padding: 3rem 6rem;
    /* height: 100vh; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.focus-area{
    width: 23%;
    border: 7px solid #ccc;
    height: 300px;
    margin-bottom: 2rem;
    background-color: #b2b2b2;
    position: relative;
    
}
.focus-area:hover{
    background-color: #e4701dea;
    border-color: #e4701dea;
    transition: .2s ease-in-out;
}


.focus-area:nth-child(even){
    margin-top: 3rem;
}

.focus-area .bg{
    width: 100%;
     height:95%;
     background-position: top;
     background-size: cover;
     background-color: rgba(0, 0, 0, 0.497)
   ;
   transition: .2s ease-in;
   background-blend-mode: multiply;
}

.focus-area .bg-1{
    background-image: url("../img/health.jpg");
}
.focus-area .bg-2{
    background-image: url("../img/education.jpg");
}
.focus-area .bg-3{
    background-image: url("../img/livelihood.jpg");
}
.focus-area .bg-4{
    background-image: url("../img/disaster-relif.jpg");
}
.focus-area .title{
    position: absolute;
    top: 11px;
    color: var(--primartColor);
    left: 50%;
    transform: translateX(-50%);
}
.focus-content{
    position: absolute;
    bottom: -8rem;
    border: 2px;
    text-align: center;
    display: none;
    left: 0;
    
}
.focus-container h5{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primartColor);
    position: absolute;
    bottom: 7.1rem;
    /* padding-block: .2rem; */
    background-color: #e4701dc1;
}
.focus-container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.18rem;
    
}

.focus-area:hover .title{
    display: none;
    transition: 2s ease-in-out;
}
.focus-area:hover .focus-content{
    display: block;
    transition: 1s ease-in-out;
   
}
.focus-area:hover .bg{
    background-color: transparent;
}

/* Raech Conatiner Start */
.reachMianContainer{
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* border: 2px solid red; */
    background-image: url("../img/the-impact-bg.jpg");
    background-color:#194665c0;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    
    align-items: center;
    


}
.reachLeft{
width: 50%;
min-height: 100%;
/* border : 2px solid green; */
/* background-color: #0b50817d; */
display: flex;
justify-content: end;



}
.reachLeft>h2{
    color: red;
}
.reachContent{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8vw;
}

.reachLeft img{
    height: 215px;
}
.reachRight{
width: 50%;
/* border: 2px solid blue; */
background-color: #025588b3;
/* opacity: .9; */
display: flex;
justify-content: center;
}
.reachRightContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.reachRightContent>:nth-child(2){
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    
    justify-content: center;
    
}
.reachRightContent>:nth-child(2)>div{
    padding: .9rem 2rem;
    border-right: 1.6px dotted #fba704;
    text-align: center  ;
    /* border: 2px solid red; */
   
}
.reachRightContent p{
    font-size: 2rem;
    color: #fba704;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.reachRightContent h2{
    color: var(--primartColor);
    margin-bottom: 0;
    text-align: center;
}


/* Year Section  */

.yearSection {
margin-top: 2rem;
}
.yearSection>h3{
    /* font-size: 2.5rem; */
    font-weight: 700;
    text-align: center;
    padding-inline:5rem ;
}

.year{
    
    /* height: 50vh; */
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.year>div{
   
    height: 100%;
    /* width: 30%; */
    padding: 1vw;

}
.year>div>div{
    display: flex;  
    align-items: center;
    gap: 1vw;
    justify-content: center;
}
.year h1{
    font-size: 7rem;
}
.year h5{
    font-size: 1.7rem;
    color: #12374f;
}
.year p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #e4701d;
}
.arrow{
height: 17vh;
}

/* Help Section  */
.helpSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
}
.helpSection>:nth-child(1){
    /* border: 2px solid red; */
    width: 50%;
    background-color: #f4b124 ;
    text-align: center;
    color: var(--primartColor);
    padding: .2rem;
}


/* Graph Section  */
.graph{
   
   
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 2rem;
    align-items: center;
}
.graphImg{
    /* border: 2px solid green; */
    display: flex;
    gap: 2rem ;
    /* width: 50%; */
    /* margin:2rem auto; */
    justify-content: space-between;
}
.graphImg>div{
    /* border: 2px  solid red; */
    padding: .6rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
  
}
.graphImg .thumb-icon{
    width: 125px;
    /* border: 2px solid red; */
    padding: .9rem;
    border-radius: 50%;
    /* background-color: red; */
    height: 125px;
    text-align: center;
    padding: 25px;
    /* background-color: red; */
}

.graphImg img{
   /* max-width: 100%; */
    height: auto;
}
.graphImg img{
    fill: green;
}
.svgImg{
    transition: fill .1s ease;
}

.graphImg>div:hover .svgImg{
    filter: brightness(0) invert(1);
    transition: .1s ease-out;
}
.graphImg>div:hover .thumb-icon{
    background-color: #f4b124;
    border: 2px solid gray;
    transition: .1s ease-in;
}
.graphImg>div h5{
    font-size: 1.9rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.823);
}
.graph-border{
    height: 140px;
    width: 38%;
    border:2px solid gray ;
    border-top: 0;
}

.progress-img{
    
    margin-top: -75px;
    position: relative;
    margin-bottom: 2rem;
}
.progress-img::before{
    position: absolute;
    content: '';
    height: 40px;
    background-color: gray;
    width: 2px;
    top: -50px;
    left: 50%;
}
.progress-bar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: .8rem;
    font-size: 1.5rem;
    color: var(--primartColor);
}
.helpSection h4{
    font-weight: 500;
    font-size: 2rem;
    
}
/* Testomonial section  */
.textomonialSection{
    /* width: 100%; */
    /* height: 80vh; */
    /* background-color: red; */
    background-image: url("../img/stories-bg.jpg");
    padding: 1.3rem;
    margin-top: 2rem;
}
.textomonialSection>h3{
    text-align: end;
    padding-right: 18%;
    color: #004e7e;
    /* margin: auto; */
}

.testomonials{
  height: 75vh;
  padding-inline: 1rem;
    
}

.storiesImeges{
    width: 50%;
    position: relative;
    overflow: hidden;
}

.test-svg{
    position: absolute;
    width:40% !important;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%) rotate(90deg);
}
.stories-img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -8%;
    width:55% !important;
    
}

.storiesContent{
    width: 50%;
    position: relative;
    display: flex;
    gap: 10px  ;
    flex-direction: column;
    justify-content: center;
}
.storiesContent button{
    padding: 10px 35px;
    border: 0;
    background-color: #004e7e;
    color: var(--primartColor);
    font-size: 1.1rem;
    font-family: 500;
    width: fit-content;
}
.storiesContent p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
}
.storiesContent::before{
    position: absolute;
    content:'“';
    font-size: 13rem;
    left: -83px;
    top: 20px;
    color: #9c9c99;
}

/* Partner Section */
.partnerSection{
    padding:5rem 3rem 4rem 3rem;
    width: 100%;
    
}
.partnerSection h2{
    text-align: center;
    color: #004e7e;
}
.partnerContainer{
   
    height: 90px;
    width: 200px;
    padding: 10px;
    margin-top: 2rem;
}
.partnerContainer>img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
}
.partnerContainer>img:hover{
    filter: grayscale(0);
    transition: .1s ease-in;
}

/* Connect Section  */

.connectSection{
    width: 100%;
    /* height: 95vh; */
    padding: 2rem 5rem;
    background-color: #e4701d;
}
.connectSection>h3{
    text-align: center;
    color: var(--primartColor);
}
.connectMain{
    width: 100%;
    display: flex;
    justify-content: center;
    

}
.connectMain>div{
    width: 45%;
    /* padding-inline: 3rem; */
    
}
.connectSection>div{
    /* border: 2px solid green; */
    height: 85%;
    display: flex;

}
.connect-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:8px;
    padding-inline: 3rem;
}


.form{
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    padding: 7px;
    color: var(--primartColor);
    width: 90%;
}
.form:focus{
    outline:3px solid rgba(82, 81, 81, 0.677);
    transition: .2s ease-in;

}
.submitForm{
    padding: 7px;
    width: 90%;
    background-color: #2e2e2e;
    color: var(--primartColor);
    font-size: 1.1rem;
    font-weight: 400;
    
}
.select option {
    color: black;
}
.connect-details{
   
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialIcon i{
    
    padding: 10px;
    border-radius: 50%;
    font-size: 17px;
    background-color: white;
    color: #e4701d;
    margin-left: 1rem;
}
.connect-details h5{
    color: rgba(0, 0, 0, 0.801);
}
.connect-details .phoneNumber{
    
    width: fit-content;
    padding: 7px 20px;
    font-weight: 600;
    font-size: 18px;
    background-color: #f4b124;
} 

.phoneNumber i{
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    color: #e4701d;
}

.connect-details p{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primartColor);
}
.connect-details .donateBtn{
   
    width: fit-content;
    padding: 5px 25px;
    font-weight: 700;
    font-size: 24px;
    background-color: #f4b124;
}
.donateBtn i{
    color: var(--primartColor);
}
.connect-details  h4:nth-of-type(2){
    color: white;
   
}
.connect-details h4:nth-of-type(1){
    font-size: 1.6rem;
    margin-top: 7px;
    color: rgba(42, 41, 41, 0.805);
}

/* Footer Section */

footer{
    width: 100%;
    /* height: 73vh; */
    /* border: 2px solid red; */
    padding: 30px 40px;
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #494948;
    gap: 10px;
}
.footerContentMain{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footerContentMain>div{
    /* border: 2px solid green; */
    width: 22%;
    /* height: 260px; */
}
.footerLogo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 1rem;
}
.footerLogo img{
    width: 19vw;
}
.footerLogo>div{
    /* border: 2px solid red; */
    padding: 4px 30px;
    width: fit-content;
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    background-color: #f4b124;
}
.footerLogo>div i{
    color: white;
}
.footerLogo>p{
    font-size: 14px;
    color: var(--primartColor);
}
.footerHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f4b124;
    padding-bottom: 13px;
    position: relative;
}
.plus::before{
    position: absolute;
    display: none;
    content: '+';
    top: 50%;
    right:  30px;
    transform: translateY(-50%);
    font-size: 3.1rem;
    color: white;
}
.plus.active::before{
    content: '-';
}
.footerContent h4{
    color: var(--primartColor);
    margin: 0;
}
.footerContent>ul {
    list-style: none;
    /* display: none; */
    padding: 0;
}
.footerContent>ul li{
    padding-block: 3px;
}
footer a{
    text-decoration: none;
  
    color: var(--primartColor);
    font-size: 15px;
}
footer a:hover{
    color: #e4701d;
transition: .3s ease;
}
.footerTerm{
    width: 90%;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.footerTerm :not(:last-child){
    border-right: 1px solid white;
    padding: 7px 15px;
}
.copyright p{
    margin: 0;
    text-align: center;
    color: var(--primartColor);
}



/* Mobile Menu Container */
.mobileMenuContainer {
    /* border: 2px solid red; */
    width: 100%;
    background-color: #004e7e;
    max-width: 100%;
    position: fixed;
    overflow-y: scroll;
    z-index: 111;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: .4s ease;
    /* height: 100%; */

}

.mobileMenuWrapper{
    /* overflow: scroll; */
    height: 100%;
}
.mobileMenuContainer ul{
    list-style: none;
}
.mobileLogo{
    padding: 10px 20px;
}
.mobileLogo img{
    width: 300px;
}
.mobileLogo i{
    font-size: 2.4rem;
    position: absolute;
    right: 2rem;
    top: 25px;
    color: var(--primartColor);
}
.mainMenu{ 
    width: 100%;
    /* border: 2px solid green; */
    padding: 30px 10px;
}
.menuItem{
    margin-bottom: 10px;
}
.menuItem>p{
    position: relative;
    padding: 5px 0 15px .5rem;
    /* display: block; */
    /* border: 2px solid red; */
    font-size: 1.5rem;
    color: white;
    transition: .4s ease;
    margin-bottom: 4px;
}
.menuItem>p.active{
    color: red;
}
.menuBtn{
    position: absolute;
    right: 2rem;
    top: 50%;
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%) ;
    cursor: pointer;
    
    
    font-size: 1.4rem;
  
}
.menuBtn.active{
    transform: translateY(-50%) rotate(180deg);
    transition: .3s ease-in-out;
}
.subMenu{
    /* display: block; */
    overflow: hidden;
    height: 0;
    

}
.subMenu li{
    padding: 5px;
}
.subMenu a{
    padding-block: 4px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primartColor);
}
.subMenu.active{
    /* display: none; */
    height: fit-content;
   
    /* background-color: #004e7e; */
}
.socialMenuIcons{
    display: flex;
    gap: 10px;
    position: fixed;
    background-origin: 0;
    right: 20px;
    bottom: 15px;
    padding-left: 10px;
}
.socialMenuIcons i{
    height: 45px;
    width: 45px;
   color: #004e7e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primartColor);
         font-size: 1.3rem;
}

.plus{
    position: relative;
}



/* about Us Page */
.banner-bg{

    min-height:550px;
    width: 100%;
    /* border: 2px solid red; */
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: 50% 0 ;
    position: relative;
}

.about-us-bg{
    background-image: url('../img/about-banner.jpg');
    /* z-index: 2; */
}
.about-us-bg::after{
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,.5))
}

/* About Board Section */

.aboutBoardSection{
    margin-top: -5rem;
    z-index: 10;
    position: relative;
}
.aboutBoardSection .container{
    /* border: 2px solid red; */
    padding: 0;
    margin-bottom: 0;
}
.aboutBoardSection>div>:nth-child(1){
    /* border: 2px solid green; */
    padding:3px 30px;
    display: flex;
    background-color: #00000061;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--primartColor);
}
.aboutBoardSection>div>:nth-child(2){
    background-image: url('../img/texture-bg.jpg');
}
.aboutBoardSection a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.805);
}
.aboutBoardSection a:nth-of-type(3){
    color: var(--primartColor);
}
.aboutBoardSection h1{
   
    padding: 20px 30px;
    font-weight: 600;
    height: auto;
}

/* About Post Section */

.aboutPostSection{
   
    width: 100%;
  
    position: relative;
}
.aboutPostSection .container{
    display: flex;
    padding-block: 3rem 5rem;
    justify-content: space-between;
    flex-wrap: wrap;

}
.aboutPostSection .container>div{
    width: calc(50% - 1rem);
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.aboutPostSection p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.aboutPostSection h3{
    font-size: 33px;
    color: #004e7e;
}
.postLeftImg{
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0px;



}
.postLeftImg img{
    width: 150px;
    transform:rotate(180deg);
}


/* aboutMiddleSection */

.aboutMiddleSection{
    width: 100%;
    /* min-height: 550px; */
    /* border: 2px solid red; */
   display: flex;
   padding-block:3rem 5rem ;
   align-items: center;
    position: relative;
}
.aboutMiddleSection::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    content: '';
    background-color: rgba(0, 78, 126, .5);
    z-index: 1;
}
.middleBanner{
    background-image: url('../img/middle-banner.jpg');
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.about-middle{
    color: white;
    position: relative;
    z-index: 9;
    padding: 10px;
    text-align: center;
 
}
.about-middle p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    color: var(--primartColor);
    z-index: 2;
    
    margin-bottom: 30px;
}
.about-middle p>span{
    background-color: #fba704;
    padding: 4px 10px;
}

/* CoreValueSection */

.coreValueSection{
   
    /* height: 100vh; */
    padding-bottom:5rem;
    position: relative;
    
}

.coreImg{
    width: 30%;
    margin: -100px auto -260px auto;
    
}
.coreImg img{
    transform: rotate(90deg);
    width: 100%;
    /* border: 2px solid green; */
}
.coreValueImg h3{
    
   position: relative;
   text-align: center;
   margin-top: -19rem;
   padding-bottom: 3rem;
   color: white;

}
.coreValueItem{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -3rem;

}
.coreValueItem>div{
   
    width: 190px;
    z-index: 33;
    display: flex;
    flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   text-align: center;
   gap: 10px;
   
}
.coreValueContent>div{
    padding: 1.4rem;
    border: 2px solid #f0eceb;
    background-color: #f0eceb;
    width: 130px;
    min-height: 130px;
    text-align: center;
    
    border-radius: 50%;
    transition: .1s linear;
}
.valueImg{
    width: 100%;
    height: 100%;
    transition: .1s linear;
}
.coreValueContent>div:hover {
    background-color: #004e7e;
}
.coreValueContent>div:hover .valueImg{
    filter: brightness(0) invert(1);

}
.coreValueContent>h4{
    color: #004e7e;
}

/* Vision Page */

.vision-bg{
    background-image: url('../img/visionmission_banner.jpg');
}

.visionMain{
    /* border: 2px solid red; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.visionContent{
    /* border: 2px solid green; */
    display: flex   ;
    gap: 4rem;
    padding-inline: 3rem 3rem;
    justify-content: center;
}
.visionContent>div{
    width: 40%;
    text-align: center;
}
.visionContent h3{
    color: #004e7e;
}
.visionContent p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.visionHalfCircle{
    /* overflow: hidden; */
    width: 20%;
    margin: -114px auto -110px auto;
    transform: rotate(90deg );
}
.visionHalfCircle img{
    width: 100%;
    /* border: 2px solid red; */
    overflow: hidden;
}


table{
    width: 90%;
    /* margin: auto; */
}
.table-lg{
    
}
.visionTable thead th{
    background-color: #004e7e;
    color: var(--primartColor);
    border-color: white;
    padding: 1rem;
    /* width: 10%; */
}
.visionTable tbody th{
    background-color: #f0f0f0 ;
    font-weight: 400

;
}
.visionTable thead th:nth-of-type(5){
    color: blue;
}
td,th{
    padding: 20px;
    border: 1px solid #f0f0f0;
}
 .visionTable i{
    color: #e4701d;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
   
}
.vistionTalbeMobile {
    display: none;
}
.vistionTalbeMobile thead  th{
    background-color: #004e7e;
    color: white;
}
.vistionTalbeMobile ul{
    list-style: none;
}
.vistionTalbeMobile ul li{
    color: #004e7e;
    font-weight: 500;
}
.vistionTalbeMobile i{
    color: #e4701d;
    font-size: 21px;
    font-weight: 700;
    /* padding-right: 1rem; */
}

.visionBanner{
    background-image: url('../img/im.2.jpg');
    background-size: cover;
}

/* aimSection */
.aimSection{
    padding: 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.aimSection>h4{
        color: #004e7e;
        text-align: center;
        font-size: 1.9rem;
        width: 90%;
}
.aimSection>p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.aimRelation{
   
    
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aimRelation>div{
    width: 30%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.aimRelation>div>div{
    width: 120px;
    border: 2px solid #e4701d;
    border-radius: 50%;
    height: 120px;
    padding: 1rem;
    
}
.aimRelation p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 18px;
}

/* visionInfoSection */
.visionInfoSection{

    min-height: 420px;
    width: 100%;
    
    position: relative;
}
.visionBg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-image: url('../img/im.3.jpg');
    background-size: cover;

}
.visionInfoSection::before{
position: absolute;
content: "";
width: 50%;
height: 100%;
z-index: 9;
inset: 0;
background-color:#e4701dd1 ;
}
.visionInfo{
    /* padding: 3rem; */
    width: 50%;
    z-index: 99;
    position: relative;
    padding: 3rem;
    color: white;
}
.visionInfo p{
    font-size: 19px;
    color: white    ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.visionInfo li{
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

/* Out Team Page */

.team-bg{
    background-image: url('../img/our-team-banner.jpg');
}
.boardSection{
   
    width: 100%;
    /* height: 100vh; */
    margin-top: 2rem;
}



.boardMain{
display: flex;
flex-direction: column;
gap: 1rem;
}
.boardMemberBtnClick{
    /* border: 2px solid red;/ */
    display: flex;
    gap: 2rem;
    /* padding: 10px ; */
    border-bottom: 1px solid black;
}
.boardMain p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.boardPerson{
   
    width: 45%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem   ;
    
}
.boardSocialIcon{
    display: flex;
    gap: 10px;
}

.boardSocialIcon i{
   
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;   
     background-color: #e4701d;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
}
.boardSocialIcon .fa-linkedin-in{
    background-color: #004e7e;
}
.boardPersonImg{
    
    border: 3px solid #e4701d;
    border-radius: 50%;
    transition: .1s ease;
    height: fit-content;
}
.boardPerson img{
    border-radius: 50%;
    width: 150px;
    filter: grayscale(100%);
}
.boardPersonImg img:hover {
    filter: grayscale(0);
}
.boardPersonImg:hover{
    box-shadow: 0 0 15px black;
}
.boardPersonDetail{
    margin-top: 10px;
}
.boardMemberPerson{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}
.boardMember{
    margin-top: 2rem;
    padding: 2rem ;
    background-image: url('../img/boardMember/grey-bg-pattern.png');

}
.boardSection h3{
    font-size: 2rem;
}
.boardSection h4{
    color: #004e7e;
}
.ceoMain{
    padding-block: 1rem;
}
.careCommity{
    padding-block: 1rem;
    width: 100%;
    border: 2px solid red;
    background-image: url('../img/boardMember/grey-bg-pattern.png');
}

/* Donate Page */
.donate-bg{
    background-image: url('../img/banner-donate.jpg');
}
.donateSection{
   
    width: 100%;
   
    margin-top: 1rem;


}
.donateSection h3{
    text-align: center;
    padding-block: 1rem;
}
.donateMain{
  
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.donateMain>div{
    width: calc(50% - 1rem);
    padding: 1rem;
}
.donateMain h4{
    color: #004e7e;
}
.donateMain .donateImg{
    display: flex;
    align-items: center;
    gap: 2rem;
    /* border: 2px solid green; */
}
.donateImg img{
    width: 130px;
    /* position: r elative; */
}
.donateImg>div{
    position: relative;
}
.donateImg .carePercent{
position: absolute;
top:60%;
left:50%;
transform: translateX(-50%);
font-size: 1.7rem;
color: white;
}
.donateImg p{
    font-size: 19px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.donateFormMain {
    background-image: url('../img/doanteformbg.jpg');
    width: 100%;
    min-height: 550px;
    background-size: cover;
    padding: 3rem;
}
.donateForm{
    background-color: white;
    padding: 1rem;
}
.donateFormMain li{
    width: 50%;
    /* border: 2px solid red; */
}
.formIconCircle {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    /* border: 2px solid red; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: gray;
    /* border: 1px solid #004e7e; */
    color: white;
    font-size: 1.4rem;
}
.donateForm{
    padding-top: 3rem;
   
}
.donateFormMain .formSpan{
margin: 0 auto;
display: block;
/* border-bottom: 2px solid black; */
text-align: center;
/* padding-bottom: 1rem; */
font-size: 1.4rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.formIconCircle li a{
    position: relative;
    top: -2rem;
    border-radius: 50px;
    

}
.formContent{
    /* border: 2px solid green; */
    padding-top: 3rem;
}
.formRadio>div{
    display: flex;
    gap: 10px;
}
.formContent .amount{
   
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 90%;
}
.formContent .amount>div{
    padding: 5px 50px;
   
}
.amount>div.active{

    background-color: #e4701d;
}
.formContent .amount>div:active{
    background-color: #e4701d;

}
.formContent strong{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.formRadio p{
    font-size: 1.1rem;
    
}
.amount>div span{
    font-size: 1.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.proceedBtn{
    justify-content: end;
    margin-top: 1rem;

}
.proceedBtn>button{
    width: fit-content;
    padding: 9px 70px;
    margin-right: 7vw;
}
.formButton{
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    margin-top: 1rem;
}
.formButton>div{
    /* border: 2px solid red; */
    padding: 5px 50px;
    font-size: 20px;
}
.formButton>:nth-child(1){
    background-color: #004e7e;
    color: white;
}
.formButton>:nth-child(2){
    background-color: #ffc107;

}
.finacial{
    /* gap: 1rem; */
}
.finacial>div{
    /* border: 2px solid red; */
    margin-bottom: 1rem;
}
.finacial>div>div{
    padding: 3rem;
    height: 100%;
    background-color: #ffc107;
}