*{
    margin: 0;padding: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
:root{
    --primartColor:white;
    --secondaryColor:rgb(10, 0, 0):
}
body{
    width: 100%;
    
    
}
h2{
    font-size: 2.9rem;
    font-weight: 700;
}
h3{
    font-size: 2.5rem;
    font-weight: 700;
}
h6{
    font-size: 2.2rem;
}

/* NavBar Start */

.navbar{
    width: 100%;
    display: flex;
    height: 111px;
    justify-content: space-around;
    padding:0 5rem 5rem 5rem;
    position:fixed;
    top: 0;
    z-index: 99;
   
    
}

#navbar.navSticky{
    background-color: #e4701d;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .3s  ease;
}
 

.logo{
    width: 40%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.logoImg{
    width:60%;
}

#navbar.navSticky .logoImg{
    filter: brightness(0) invert(1)
}



.navItem{
    display: flex;
    width: 60%;
    padding: .5rem;
    gap: 20px;
    flex-direction: column;
    font-weight: 400;
    line-height: 1.8;
}

.navUp{
    display: flex;
    gap: 2rem;
    justify-content: end;
    align-content: space-between;
    width: 100%;
    align-items: center;
}

.search{
    border-bottom: 1px solid;
    height: 100%;
    color: var(--primartColor);
    

}
.searchInput{
    /* height: 100%; */
    width: 0px;;
    padding:0 .4rem;
    outline: none;
    border: none;
       font-size: 18px;
    color: var(--primartColor);
    background-color: transparent;
    transition: .3s  ease-in ;

}
input::placeholder{
    color: var(--primartColor);
}
.search:hover .searchInput{
    width: 300px;
}

.navUp>:nth-child(2){
    background-color: #fba704;
    padding: 0px 1.2rem;
    height: 40px;
    
}
.navUp p{
    /* font-weight: 500; */
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
 
}
.navDown{
    display: flex;
    gap: 10px;
    transform: translateY(10px);
    justify-content: end;
    padding-bottom: 10px;
    transition: .4s ease;
}
#navbar.navSticky .navDown{
    transform: translate(0);
}

.navDown>div{
    display: flex;
    gap: .5rem;
    color: var(--primartColor);
    align-items: center;
}

.bannerHalf{
    position: absolute;
    scroll-behavior: auto;
    top: 0;
    right:0;
    height: 100px;
    width: 400px;
    z-index: -1;
}

  /* DropDown Start */
.dropdown{
    position:relative;
     padding: .1rem .7rem;
     animation: all .2s ease-in;
    
}

.dropdown li{
    /* background-color: white; */
    color: var(--secondaryColor);
    list-style: none;
    padding-top: .2rem ;
    width: 150%;
    background-color: white;
    border-bottom: 1px solid black;
    padding: .2rem 1rem;
    /* border: 2px solid red; */
    animation: dropItem .3s ease-out;
}
@keyframes dropItem {
    0%{
        margin-bottom: .4rem;
    }
    100%{
        margin-bottom: 0;
    }
}

.dropdown a{
    
    color: black;
    text-decoration: none;

}

.dropdown:hover{
    background-color: #fba704;
    transition: .2s ease-in;
}
.dropdownContent{
    display: none;
    position: absolute;
    top: 10%;
    padding-top: 2.5rem;
    left: -2rem;
    /* transition: .5s ease; */
    animation: dropdown .2s ease-in;
    
}
@keyframes dropdown{
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
.dropdown:hover .dropdownContent{
    display: block;
    transition: .3s ease-in;
}

.dropdown:hover .downIcon{
     transform: rotate(180deg);
     transition: .2s ease;

     
    
 }

/* NavBar End */


/* Carousel  First */

.carouselItem{
    position: relative;
    background-color: rgba(0, 0, 0, 0.402);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.346);
    
}
.carouselContent{
    position: absolute;
    /* top: 10% ; */
    width: 65%;
    top: 55%;
    left: 5%;
    transform: translateY(-50% );
    z-index: 2;
}


.carouselContent h2{
    color: var(--primartColor);
    font-size: 2.9rem;
    font-weight: 600;
    
}

.carouselContent button{
    padding: .5rem 2rem ;
    font-weight:600;
    font-size: 1.3rem;
    background-color: #fba704;
    border: 0;
    width: fit-content;
    
}

/* Carousel End First */

/* Owl Carousel */
.owlCarouselItem{
    width: 100vw;
    /* border: 2px solid pink; */
    height: 80vh;
    display: flex;
    padding:2rem  7rem ;
    gap: 10px;
    /* border: 2px solid red; */
    
}
.owlCarouselItem .owlCarouselImg{
    /* border: 2px solid green; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgHoverCircle{
    padding: 1.2rem;
    border-radius: 50%;
    background-image: conic-gradient( transparent 0deg,transparent 180deg,#e4701d 180deg , #e4701d 360deg );
    
}
.imgHoverCircle:hover{
    transition: .2s ease-in-out;
    background-color: #e4701d;
}
.owlCarouselImg img{
    /* border: 1.2rem solid #e4701d; */
    border-radius: 50%;
}
.owlCarouselItem .owlCarouselContent{
    width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
    height: 100%;
    /* border: 2px solid black; */

}
.owlCarouselContent h2{
    font-weight: 700;
}
.owlCarouselContent p{
    font-weight: 500;
    font-size: 1.3rem;
}
.owlCarouselContent button{
    width: fit-content;
    padding: .5rem 1.6rem ;
    border: 0;
    background-color: #fba704;   
}
.owlCarouselContent button:hover{
    background-color: #e4701d;
    transition: .1s ease-in;
}



/* Focus Conatainer Start */
.focus-container{
    display: flex;
    width: 100%;
    padding: 3rem 6rem;
    height: 100vh;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.focus-area{
    width: 23%;
    border: 7px solid #ccc;
    height: 300px;
    margin-bottom: 2rem;
    background-color: #b2b2b2;
    position: relative;
    
}
.focus-area:hover{
    background-color: #e4701dea;
    border-color: #e4701dea;
    transition: .2s ease-in-out;
}


.focus-area:nth-child(even){
    margin-top: 3rem;
}

.focus-area .bg{
    width: 100%;
     height:95%;
     background-position: top;
     background-size: cover;
     background-color: rgba(0, 0, 0, 0.497)
   ;
   transition: .2s ease-in;
   background-blend-mode: multiply;
}

.focus-area .bg-1{
    background-image: url("../img/health.jpg");
}
.focus-area .bg-2{
    background-image: url("../img/education.jpg");
}
.focus-area .bg-3{
    background-image: url("../img/livelihood.jpg");
}
.focus-area .bg-4{
    background-image: url("../img/disaster-relif.jpg");
}
.focus-area .title{
    position: absolute;
    top: 11px;
    color: var(--primartColor);
    left: 50%;
    transform: translateX(-50%);
}
.focus-content{
    position: absolute;
    bottom: -8rem;
    border: 2px;
    text-align: center;
    display: none;
    left: 0;
    
}
.focus-container h5{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primartColor);
    position: absolute;
    bottom: 7.1rem;
    /* padding-block: .2rem; */
    background-color: #e4701dc1;
}
.focus-container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.18rem;
    
}

.focus-area:hover .title{
    display: none;
    transition: 2s ease-in-out;
}
.focus-area:hover .focus-content{
    display: block;
    transition: 1s ease-in-out;
   
}
.focus-area:hover .bg{
    background-color: transparent;
}

/* Raech Conatiner Start */
.reachMianContainer{
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* border: 2px solid red; */
    background-image: url("../img/the-impact-bg.jpg");
    background-position: center;
    display: flex;
    


}
.reachLeft{
width: 50%;
height: 100%;
/* border : 2px solid green; */
background-color: #0b50817d;
display: flex;
justify-content: end;



}
.reachLeft>h2{
    color: red;
}
.reachContent{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8vw;
}

.reachLeft img{
    height: 215px;
}
.reachRight{
width: 50%;
/* border: 2px solid blue; */
background-color: #025588b3;
/* opacity: .9; */
display: flex;
justify-content: center;
}
.reachRightContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.reachRightContent>:nth-child(2){
    display: flex;
    gap: 3rem;
    /* border: 3px solid red; */
}
.reachRightContent>:nth-child(2)>div{
    padding: .9rem 2rem;
    border-right: 1.6px dotted #fba704;
    text-align: center  ;
}
.reachRightContent p{
    font-size: 2rem;
    color: #fba704;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.reachRightContent h2{
    color: var(--primartColor);
    margin-bottom: 0;
    text-align: center;
}


/* Year Section  */

.yearSection {
margin-top: 2rem;
}
.yearSection>h3{
    /* font-size: 2.5rem; */
    font-weight: 700;
    text-align: center;
    padding-inline:5rem ;
}

.year{
    
    /* height: 50vh; */
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.year>div{
   
    height: 100%;
    /* width: 30%; */
    padding: 1vw;

}
.year>div>div{
    display: flex;  
    align-items: center;
    gap: 1vw;
    justify-content: center;
}
.year h1{
    font-size: 7rem;
}
.year h5{
    font-size: 1.7rem;
    color: #12374f;
}
.year p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #e4701d;
}
.arrow{
height: 17vh;
}

/* Help Section  */
.helpSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
}
.helpSection>:nth-child(1){
    /* border: 2px solid red; */
    width: 50%;
    background-color: #f4b124 ;
    text-align: center;
    color: var(--primartColor);
    padding: .2rem;
}
